[@scale>25000]{
    fill:#FFFFFF;
    fill-opacity:0.5;
    stroke:#CCCCCC;
    stroke-opacity:0.75;
    stroke-width:10;
}
[@scale<25000]{
    stroke:#999999;
    stroke-opacity:0.76;
    stroke-width:8;
}