/* ClassicLite_lga
A dark yellow polygon style
*/
/*Boundary with background */
[@scale >25000]{
    stroke:#999999;
    stroke-opacity:0.2;
    stroke-width:10;
}
/* Boundary with no background */
[@scale >25000]{
    stroke:#1B7A12;
    stroke-opacity:0.2;
    stroke-width:7;
}