[@scale<500000][class_code='0'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 23;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<500000][class_code='1'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 22;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<250000][class_code='2'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 21;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<125000][class_code='3'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 20;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<50000][class_code='4'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 19;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<50000][class_code='5'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 18;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<25000][class_code='6'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 14;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

[@scale<12000][class_code='7'][road_name='UNNAMED']{
    label:[ezirdnmlbl];
    font-family: 'Tahoma';
    font-size: 14;
    font-style: normal;
    font-weight: normal;
    label-anchor:0.0 0.5;
    label-rotation:0;
    halo-radius:2;
    halo-color:#FFFFFF;
    fill:#999999;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}