[@scale<17100][ftype_code='watercourse_stream']{
    stroke:#DDE8FF;
    stroke-width:1;
}

[@scale<69000][ftype_code='watercourse_river'][hierarchy='H'][hierarchy='M']{
    stroke:#DDE8FF;
    stroke-width:3;
}