/*
  only showes area around Melbourne
  highest altitude is 1000 (?)
  http://services.land.vic.gov.au/catalogue/metadata?anzlicId=ANZVI0803002813&publicId=guest&extractionProviderId=1#tab0
*/

*{
    label-offset:1;
    font-family:"SansSerif";
    font-fill:#A66829;
    halo-radius:1;
    halo-color:#E7E7E8;
    -gt-label-repeat:350;
    -gt-label-follow-line:true;
    -gt-label-force-ltr:false;
    -gt-label-padding:15;
    -gt-label-max-displacement:20;
}

[@scale>120000][ALTITUDE='0']   { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='50']  { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='100'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='200'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='300'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='400'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='500'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='600'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='700'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='800'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='900'] { font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1000']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1200']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1400']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1600']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1800']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='2000']{ font-size: 8; stroke:#A67C29; stroke-width:0.2;}

[@scale>60000][@scale<120000][ALTITUDE='10']  { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='20']  { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='30']  { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='40']  { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='50']  { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='100'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='150'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='200'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='250'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='300'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='350'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='400'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='450'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='500'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='550'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='600'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='650'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='700'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='750'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='800'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='850'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='900'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='950'] { font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1000']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1050']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1100']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1150']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1200']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}

[@scale>30000][@scale<60000][ALTITUDE='10']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='20']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='30']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='40']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='50']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='60']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='70']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='80']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='90']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='100']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='125']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='150']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='175']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='200']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='225']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='250']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='275']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='300']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='325']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='350']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='375']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='400']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='425']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='450']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='475']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='500']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='525']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='550']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='575']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='600']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='625']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='650']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='675']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='700']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='725']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='750']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='775']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='800']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='825']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='850']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='875']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='900']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='925']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='950']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>30000][@scale<60000][ALTITUDE='975']{ stroke:#A67C29; stroke-width:0.2; stroke-dasharray: 8;}
[@scale>30000][@scale<60000][ALTITUDE='1000']{ font-size: 12; label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}

/* this may be slightly different than the previous version */
[@scale>7000][@scale<30000][ALTITUDE='5']   { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='10']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='15']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='20']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='25']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='30']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='35']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='40']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='45']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='50']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='55']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='60']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='65']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='70']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='75']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='80']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='85']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='90']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='95']  { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='100'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='105'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='110'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='115'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='120'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='125'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='130'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='135'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='140'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='145'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='150'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='155'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='160'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='165'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='170'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='175'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='180'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='185'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='190'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='195'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='200'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='205'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='210'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='215'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='220'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='225'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='230'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='235'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='240'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='245'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='250'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='255'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='260'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='265'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='270'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='275'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='280'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='285'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='290'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='300'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='310'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='320'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='330'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='340'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='350'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='360'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='370'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='380'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='390'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='400'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='410'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='420'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='430'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='440'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='450'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='460'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='470'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='480'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='490'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='500'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='510'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='520'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='530'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='540'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='550'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='560'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='570'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='580'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='590'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='600'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='610'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='620'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='630'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='640'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='650'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='660'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='670'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='680'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='690'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='700'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='710'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='720'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='730'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='740'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='750'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='760'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='770'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='780'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='790'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='800'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='810'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='820'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='830'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='840'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='850'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='860'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='870'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='880'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='890'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='900'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='910'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='920'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='930'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='940'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='950'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='960'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='970'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='980'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='990'] { font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='1000']{ font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='1010']{ font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='1020']{ font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}
[@scale>7000][@scale<30000][ALTITUDE='1030']{ font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2;}

[@scale<7000]{ font-size: 12; label:[ALTITUDE]; -gt-label-repeat:500; stroke:#A67C29; stroke-width:0.2; }

