

[@scale>1000000]{
    fill:#3090C7;
}

[@scale<1000000]{
    fill:symbol('shape://slash');
}
[@scale<30000]{
    stroke:#3090C7;
    stroke-width:0.5;
}

[@scale<34123]:fill{
    stroke:#3090C7;
    size:28;
}
[@scale>34123]:fill{
    stroke:#3090C7;
    size:5;
}
/*

FLORAFAUNA1.WETLANDDIR
fid                         WETNAME                     REFCODE     SOURCE  STATE   DATE_SUPPL          NREID   AREASQM HECTARES
FLORAFAUNA1.WETLANDDIR.1367 Edithvale-Seaford Wetlands  VIC068      5       VIC     3/04/02 12:00 AM    30      931540.62   93.15
*/