*{
    fill:#2A2374;
}

[@scale<100000]{
    label:[NAME];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #C2DFFF;
    font-size: 14;
    halo-radius: 2;
    halo-color: #2A2374;
    -gt-label-auto-wrap:120;
    -gt-label-max-displacement: 400;
}