* {
    stroke:#A23BEC;
}

[@scale <217000]{
    label: [WARD_LABEL];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #A23BEC;
    font-size: 16;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:120;
    -gt-label-max-displacement: 150;
}
[@scale >217001]{
    label: [WARD_LABEL];
    font-family: "Tahoma";
    font-style: normal;
    font-fill: #A23BEC;
    font-size: 12;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:140;
    -gt-label-max-displacement: 150;
    -gt-label-group: true;
    -gt-label-max-displacement:10;
}


[@scale >800000]{
    stroke-width:1.2;
}

[@scale <750000][@scale >433001]{
    stroke-width: 2.2;
}

[@scale <433000][@scale >108001]{
    stroke-width: 3.8;
}

[@scale <108000]{
    stroke-width:6.1;
}

/* 
LGA_CODE    LGA_NAME    WARD_NUM    WARD_NAME   WARD_LABEL  WARD_TYPE   MEMBERS
*/