*{
    label-offset:1;
    font-family:"SansSerif";
    font-size: 12;
    font-fill:#A66829;
    halo-radius:1;
    halo-color:#E7E7E8;
    -gt-label-repeat:350;
    -gt-label-follow-line:true;
    -gt-label-force-ltr:false;
    -gt-label-padding:15;
    -gt-label-max-displacement:20;
}

[@scale>120000][ALTITUDE='1']   { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='50']  { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='100'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='200'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='300'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='400'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='500'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='600'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='700'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='800'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='900'] { stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1000']{ stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1200']{ stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1400']{ stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1600']{ stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='1800']{ stroke:#A67C29; stroke-width:0.2;}
[@scale>120000][ALTITUDE='2000']{ stroke:#A67C29; stroke-width:0.2;}

[@scale>60000][@scale<120000][ALTITUDE='10']  { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='20']  { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='30']  { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='40']  { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='50']  { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='100'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='150'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='200'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='250'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='300'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='350'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='400'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='450'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='500'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='550'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='600'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='650'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='700'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='750'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='800'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='850'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='900'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='950'] { label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1000']{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1050']{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1100']{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1150']{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}
[@scale>60000][@scale<120000][ALTITUDE='1200']{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2;}

[@scale <60000]{ label:[ALTITUDE]; stroke:#A67C29; stroke-width:0.2; -gt-label-repeat:500;}