

[@scale>1000000]{
    fill:#4863A0;
}

[@scale<1000000]{
    fill:symbol('shape://slash');
}
[@scale<30000]{
    stroke:#4863A0;
    stroke-width:0.5;
}

[@scale<34123]:fill{
    stroke:#4863A0;
    size:28;
}
[@scale>34123]:fill{
    stroke:#4863A0;
    size:5;
}
/*

FLORAFAUNA1.WETLAND_1994
fid                             MAPSHEET    WETLAND     CATEGORY    POLYFLAG    MAIN_NAME                                   ALT_NAME    SEARCH                                      AREASQM             HECTARES    X_CATEGORY      X_SUBCATEGORY
FLORAFAUNA1.WETLAND_1994.17428  7921        393861      20.0        9           South-eastern Purification Plant (South)                South-eastern Purification Plant (South)    1909876.9100000001  190.99      Sewerage pond   No sub category
*/