[@scale>545978]{
    fill:#B23232;
}

[@scale<545978]{
    fill:symbol('shape://slash');
    fill-opacity: 0.1;
}
[@scale<34123]:fill{
    stroke:#B23232;
    size:28;
}
[@scale>34123][@scale<136494]:fill{
    stroke:#B23232;
    size:14;
}
[@scale>136494]:fill{
    stroke:#B23232;
    size:7;
}


/*
Threatened Fauna 500 - 1 km grid
http:// www.giconnections.vic.gov.au/content/vicgdd/record/ANZVI0803001097.htm

FLORAFAUNA1.THFAU500
fid                         THFAUNA_ID
FLORAFAUNA1.THFAU500.24439  17066

*/