* {
    stroke:#C12283;
}

[@scale <217000]{
    label: [VICGOV_REGION_SNAME];
    font-family: "DejaVu Sans";
    font-style: normal;
    font-weight: bold;
    font-fill: #C12283;
    font-size: 16;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:90;
    -gt-label-max-displacement: 150;
    -gt-label-fit-godness: 0.2 ;
}

[@scale >217001]{
    label: [VICGOV_REGION_SNAME];
    font-family: "DejaVu Sans";
    font-style: normal;
    font-fill: #C12283;
    font-size: 14;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:120;
    -gt-label-max-displacement: 150;
    -gt-label-fit-godness: 0.2 ;
    -gt-label-group: true;
    -gt-label-max-displacement:10;
}


[@scale >800000]{
    stroke-width:1.2;
}

[@scale <750000][@scale >433001]{
    stroke-width: 2.2;
}

[@scale <433000][@scale >108001]{
    stroke-width: 3.8;
}

[@scale <108000]{
    stroke-width:4.1;
}

/* VICGOV_REGION_CODE   VICGOV_REGION_SNAME VICGOV_REGION   */