[@scale >1500000]{
    fill:symbol('shape://slash');
    stroke:#347C17;
    stroke-width:0.2;
}
[@scale >1500000]:fill{
    stroke:#347C17;
    size:7;
}

/*
Statewide Forest boundaries, polygon - 1:2 million to 1 :5 million
*/