/* Tree Density - Baumdichte*/
[TREE_DENSITY='DENSE']{
    fill:#667C26;
    fill-opacity: 0.5;
}

[TREE_DENSITY='MEDIUM']{
    fill:#8EA44E;
    fill-opacity: 0.5;
}

[TREE_DENSITY='SCATTERED']{
    fill:#B6CC76;
    fill-opacity: 0.5;
}

