/* metroline train stops*/

[@scale <3000]{
    mark: url('http://basemap.pozi.com/vic_styles/sld/metro_2.png');
}

:mark{
    size: 15;
}

[@scale <3000]{
    label: [STATIONNAME];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #70BF44;
    font-size: 16;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-group:true;
    -gt-label-auto-wrap:150;
}

[@scale<200000][@scale >3000]{
    label:['.'];
    font-family:"Tahoma";
    font-size: 10;
    -gt-label-padding:25;

    shield: url("http://basemap.pozi.com/vic_styles/sld/metro_2.png");
    shield-mime:"image/png";
    shield-size:15;
}

[@scale>200000]{
    label:['.'];
    font-family:"Tahoma";
    font-size: 10;
    -gt-label-padding:5;

    shield: url("http://basemap.pozi.com/vic_styles/sld/metro_2.png");
    shield-mime:"image/png";
    shield-size:15;
}
