* {
    stroke:#4E387E;
}

[@scale <217000]{
    label: [DISTRICT];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #4E387E;
    font-size: 16;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:60;
    -gt-label-max-displacement: 150;
}

[@scale < 800000] [@scale >217001]{
    label: [DISTRICT];
    font-family: "Tahoma";
    font-style: normal;
    font-fill: #4E387E;
    font-size: 10;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:20;
    -gt-label-max-displacement: 150;
    -gt-label-group: true;
    -gt-label-padding:10;
    -gt-label-max-displacement:10;
}


[@scale >800000]{
    stroke-width:1.2;
}

[@scale <750000][@scale >433001]{
    stroke-width: 2.2;
}

[@scale <433000][@scale >108001]{
    stroke-width: 3.8;
}

[@scale <108000]{
    stroke-width:6.1;
}
/*
DISTRICT_CODE   DISTRICT    DISTRICT_LABEL  
62              NARRACAN    Narracan District

*/