/* Streetnetwork */

/*Bicycle Path - green*/
[@scale <10000][CLASS_CODE='12']{
    stroke:#004B00; stroke-dasharray:6; stroke-width:0.5;
}
/*Walking Track - green*/
[@scale <10000][CLASS_CODE='11']{
    stroke:#004B00; stroke-dasharray:6; stroke-width:0.5;
}

/*4wd - red*/
[@scale <20000][CLASS_CODE='7']{
    stroke:#E42217; stroke-dasharray:4; stroke-width:0.5;
}
/*2wd - red*/
[@scale <20000][CLASS_CODE='6']{
    stroke:#E42217; stroke-dasharray:4; stroke-width:0.5;
}

/*Local - grey*/
[@scale <20000][CLASS_CODE='5']{
    stroke:#505050; stroke-width:1;
}
[@scale>20000][@scale<50000][CLASS_CODE='5']{
    stroke:#505050; stroke-width:0.1;
}

/*Collector -  grey*/
[@scale <20000][CLASS_CODE='4']{
    stroke:#505050; stroke-width:2;
}
[@scale>20000][@scale<100000][CLASS_CODE='4']{
    stroke:#505050; stroke-width:0.5;
}

/*Sub-Arterial - red*/
[@scale <550000][CLASS_CODE='3']{
    stroke:#C0C0C0,#E42217; stroke-width:3,2;
}
[@scale<1000000][@scale >550000][CLASS_CODE='3']{
    stroke:#C0C0C0,#E42217; stroke-width:4,2;
}
/*Arterial - red*/
[@scale <550000][CLASS_CODE='2']{
    stroke:#C0C0C0,#E42217; stroke-width:3,2;
}
[@scale<1000000][@scale >550000][CLASS_CODE='2']{
    stroke:#C0C0C0,#E42217; stroke-width:4,2;
}
/*Highway - red*/
[@scale <2000000][CLASS_CODE='1']{
    stroke:#C0C0C0,#E42217; stroke-width:4,3;
}
[@scale >2000000][CLASS_CODE='1']{
    stroke:#C0C0C0,#E42217; stroke-width:4,2;
}
/*Freeway - green*/
[@scale <2000000][CLASS_CODE='0']{
    stroke:#C0C0C0,#165417; stroke-width:6,4;
}
[@scale >2000000][CLASS_CODE='0']{
    stroke:#C0C0C0,#165417; stroke-width:5,3;
}
