/* Tree Density - Baumdichte*/
[TREE_DENSITY='DENSE']{
    fill:#4ac700;
    fill-opacity: 0.5;
}

[TREE_DENSITY='MEDIUM']{
    fill:#62be00;
    fill-opacity: 0.5;
}

[TREE_DENSITY='SCATTERED']{
    fill:#95d834;
    fill-opacity: 0.5;
}