[@scale>545978]{
    fill:#008800;
}

[@scale<545978]{
    fill:symbol('shape://slash');
}

[@scale<34123]:fill{
    stroke:#008800;
    size:28;
}
[@scale>34123][@scale<136494]:fill{
    stroke:#008800;
    size:14;
}
[@scale>136494]:fill{
    stroke:#008800;
    size:7;
}



/*
Threatened Flora 500 - 1 km grid
http:// www.giconnections.vic.gov.au/content/vicgdd/record/ANZVI0803001096.htm

FLORAFAUNA1.THFLOR500
fid                         FL_POLYID   AREASQM     HECTARES
FLORAFAUNA1.THFLOR500.12300 8791        1000000.0   100.0

*/