/*Freeway*/
[@scale<136480][class_code='0']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 21;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*Freeway-label scale dependant*/
[@scale>136480][@scale<500000][class_code='0']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 18;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*Highway*/
[@scale<136480][class_code='1']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 20;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/* Highway - label scale dependant */
[@scale>136480][@scale<500000][class_code='1']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 17;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*Arterial*/
[@scale<250000][class_code='2']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 19;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*Sub-Arterial*/
[@scale<125000][class_code='3']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 18;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*Collector*/
[@scale<50000][class_code='4']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 17;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}
/*Local*/
[@scale<50000][class_code='5']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 16;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*2WD*/
[@scale<25000][class_code='6']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 14;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}

/*4WD*/
[@scale<12000][class_code='7']{
    label:[label_short];
    font-family:'Tahoma';
    font-size: 14;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.0, 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#777777;
    -gt-label-follow-line:true;
    -gt-label-max-angle-delta:90;
    -gt-label-max-displacement:400;
    -gt-label-group:true;
}