* {
    label:[LOCALITY_NAME_LABEL];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #7d1b7e;
    font-size: 14;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:60;
    -gt-label-max-displacement: 150;
    -gt-label-padding:15;
}
