
[@scale<1000000]{
    fill:symbol('shape://slash');
    stroke:#347C17;
    stroke-width:0.2;
}
[@scale<1000000]:fill{
    stroke:#347C17;
    size:7;
}

/* 
Statewide Forest boundaries, polygon - 1:250,000 to 1 :1 million
*/