* {
    stroke:#B048B5;
}

[@scale <217000]{
    label: [PARISH_NAME];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #B048B5;
    font-size: 16;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:60;
    -gt-label-max-displacement: 150;
    -gt-label-fit-godness: 0.2 ;
}

[@scale < 800000] [@scale >217001]{
    label: [PARISH_NAME];
    font-family: "Tahoma";
    font-style: normal;
    font-fill: #B048B5;
    font-size: 10;
    halo-radius: 1;
    halo-color: #E7E7E8;
    -gt-label-auto-wrap:20;
    -gt-label-max-displacement: 150;
    -gt-label-fit-godness: 0.2 ;
    -gt-label-group: true;
    -gt-label-padding:10;
    -gt-label-max-displacement:10;
}


[@scale >800000]{
    stroke-width:1.2;
}

[@scale <750000][@scale >433001]{
    stroke-width: 2.2;
}

[@scale <433000][@scale >108001]{
    stroke-width: 3.8;
}

[@scale <108000]{
    stroke-width:6.1;
}