/* Catchment Management Authority boundaries */

*{
    label:[CMANAME];
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-fill: #000000;
    font-size: 10;
    fill-opacity: 0.5;
    -gt-label-auto-wrap:100;
    -gt-label-max-displacement: 150;
}

/* Setting titles for correct legend display */
/* http://docs.geoserver.org/latest/en/user/extensions/css/tutorial.html#setting-titles-for-the-legend */

/* @title Mallee */
[CMA_NO='1']{
    fill:blue;
}

/* @title Wimmera */
[CMA_NO='2']{
    fill:green;
}

/* @title Glenelg Hopkins */
[CMA_NO='3']{
    fill:yellow;
}

/* @title North Central */
[CMA_NO='4']{
    fill:purple;
}

/* @title Corangamite */
[CMA_NO='5']{
    fill:orange;
}

/* @title Goulburn Broken */
[CMA_NO='6']{
    fill:cyan;
}

/* @title Port Phillip and Westernport */
[CMA_NO='7']{
    fill:silver;
}

/* @title North East */
[CMA_NO='8']{
    fill:olive;
}

/* @title West Gippsland */
[CMA_NO='9']{
    fill:magenta;
}

/* @title East Gippsland */
[CMA_NO='10']{
    fill:brown;
}