[@scale>27000][ftype_code='railway']{
    stroke:#999999;
    stroke-width:3;
}
[@scale>27000][ftype_code='bridge_rail_o']{
    stroke:#999999;
    stroke-width:3;
}

[@scale>27000][ftype_code='railway']{
    stroke:#FFFFFF;
    stroke-width:1;
    stroke-dasharray:5 5;
}