[@scale<20000][road_seal='1']{
    stroke:#EEEEEE;
    stroke-width:15;
}

[@scale<20000][class_code='0']{
    stroke:#999999,#BBBBBB;
    stroke-width:5,3;
}

[@scale<20000][class_code='1']{
    stroke:#999999,#BBBBBB;
    stroke-width:4,2;
}

[@scale<20000][class_code='2']{
    stroke:#999999,#BBBBBB;
    stroke-width:3,1;
}

[@scale<20000][class_code='3']{
    stroke:#999999;
    stroke-width:2;
}

[@scale<20000][class_code='4']{
    stroke:#999999;
    stroke-width:1.5;
}

[@scale<20000][class_code='5']{
    stroke:#999999;
}

[@scale<20000][class_code='6']{
    stroke:#999999;
    stroke-width:0.5;
}

[@scale<20000][class_code='7']{
    stroke:#999999;
    stroke-width:0.5;
    stroke-dasharray: 4.0 4.0;
}