[class_code='0'][@scale<270000][@scale>20000]{
    stroke:#999999,#BBBBBB;
    stroke-width:5,3;
}

[class_code='1'][@scale<270000][@scale>20000]{
    stroke:#999999,#BBBBBB;
    stroke-width:4,2;
}

[class_code='2'][@scale<270000][@scale>20000]{
    stroke:#999999,#BBBBBB;
    stroke-width:3,1;
}
[class_code='3'][@scale<270000][@scale>20000]{
    stroke:#999999;
    stroke-width:2;
}
[class_code='4'][@scale<270000][@scale>20000]{
    stroke:#999999;
    stroke-width:1.5;
}
[class_code='5'][@scale<200000][@scale>20000]{
    stroke:#999999;
}
[class_code='6'][@scale<50000][@scale>20000]{
    stroke:#999999;
    stroke-width:0.5;
}