:mark{
    size:6;
}

[@scale<4200]{
    label:[num_add];
    font-family:'Tahoma';
    font-size: 10;
    font-style: normal;
    font-weight: normal;
    label-anchor: 0.5, 0.5;
    label-rotation:0;
    halo-color:#FFFFFF;
    font-fill:#999999;
    halo-radius:0;
    -gt-label-padding:10;
}