[@scale<2500]{
    stroke:#999999;
    stroke-width:0.5;
    stroke-dasharray: 2.0 4.0;
    label:[name_label];
    font-family: 'Tahoma';
    font-size: 10;
    font-style: normal;
    font-weight: bold;
    label-anchor: 0.5 0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color: #FFFFFF;
    fill:#999999;
    -gt-label-group:true;
    -gt-label-auto-wrap:75;
}