/* Biggest Towns */
[@scale>17000][@scale<5000000][hierarchy='2']{
    label:[placelabel];
    font-family: 'Tahoma';
    font-size: 20;
    font-style: normal;
    font-weight: bold;
    label-anchor:0.5,0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#666666;
}

/* Big Towns */
[@scale>17000][@scale<2500000][hierarchy>'2'][hierarchy<='6']{
    label:[placelabel];
    font-family: 'Tahoma';
    font-size: 18;
    font-style: normal;
    font-weight: bold;
    label-anchor:0.5,0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#666666;
}

/* Medium Towns */
[@scale>17000][@scale<1000004][hierarchy>'6'][hierarchy<='7']{
    label:[placelabel];
    font-family: 'Tahoma';
    font-size: 16;
    font-style: normal;
    font-weight: bold;
    label-anchor:0.5,0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#666666;
}

/* Small Towns */
[@scale>10005][@scale<250004][hierarchy>'7']{
    label:[placelabel];
    font-family: 'Tahoma';
    font-size: 14;
    font-style: normal;
    font-weight: bold;
    label-anchor:0.5,0.5;
    label-rotation:0;
    halo-radius:1;
    halo-color:#FFFFFF;
    font-fill:#666666;
}